---
import Layout from '@layout'
---

<Layout title='Sobre Nosotras'>
  <section class='grid place-content-center min-h-screen'>
    <h1>Nosotras</h1>
    <p>Aquí van las fundadoras</p>
    <h1>Colaboradoras</h1>
    <p>Aquí van las Colaboradoras</p>
  </section>
</Layout>
