---
import Layout from '@layout'

export async function getStaticPaths() {
  const posts = await Astro.glob('../posts/*.md')
  return posts.map(post => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }))
}
const { Content, frontmatter } = Astro.props.post
---

<Layout title={frontmatter.title}>
  <section class='page-content'>
    <div class='bg-mt-light text-white p-4'>
      <a class='decoration-solid text-white hover:underline' href='/blog'
        >Atrás ⏪</a
      >
      <h2>{frontmatter.title}</h2>
      <div>
        Escrito por <strong>{frontmatter.author}</strong> el día {
          new Date(frontmatter.date).toLocaleDateString()
        }
      </div>
      <Content />
      <a class='decoration-solid text-white hover:underline' href='/blog'
        >Atrás ⏪</a
      >
    </div>
  </section>
</Layout>
